### Hi there 👋, my name is **`Anas`**
#### I am a **Software Development Lead Engineer**
#### With **{{total_exp}}+ years** of programming experience including **{{prof_exp}}+ years** of professional experience, and **{{lead_exp}}+ years** tech leading / managing diverse teams to success.

![GitHub followers](https://img.shields.io/github/followers/anasaboreeda?style=social) ![GitHub User's stars](https://img.shields.io/github/stars/anasaboreeda?style=social) ![Twitter Follow](https://img.shields.io/twitter/follow/anasaboreeda?style=social)  ![Profile views](https://gpvc.arturio.dev/Anasaboreeda) [![README build](https://github.com/Anasaboreeda/Anasaboreeda/actions/workflows/main.yaml/badge.svg)](https://github.com/Anasaboreeda/Anasaboreeda/actions/workflows/main.yaml)
<br/><sup>Last updated on: `{{date}}`.</sup>

### Technical Skills

- **Programming languages**: *Java, Node.js, Typescript, React, JavaScript, HTML, CSS, Python*.
- **Frameworks**: *Spring Boot, Express.js, Redux*.
- **Databases**: *OracleDB, PostgreSQL, MySQL, MongoDB, DynamoDB, ElasticSearch, Redis*.
- **Cloud engineering**: *Amazon Web Services (AWS), Google Cloud Platform (GCP)*.
- **Logging & Monitoring**: *NewRelic, Grafana, Prometheus, Kibana, Loggly, rollbar*.
- **Other**: *Kubernetes & Docker, Kafka, RabbitMQ, Jenkins, Travis, GitHub Actions*.

### More about me

- 💬 Ask me about Web development, MicroService Architecture, Domain Driven Design DDD, Resiliency, Scalability, Maintainability and Performance Optimizations.
- 🔭 I’m currently working on Migrating legacy Java projects to new stack

<img src="/github-metrics.svg" alt="Metrics" width="100%">

### You can follow me here

[<img src='https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/github.svg' alt='github' height='40'>](https://github.com/Anasaboreeda)  [<img src='https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/linkedin.svg' alt='linkedin' height='40'>](https://www.linkedin.com/in/https://www.linkedin.com/in/anasaboreeda//)  [<img src='https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/icloud.svg' alt='website' height='40'>](https://aboreeda.com)[<img src='https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/twitter.svg' alt='twitter' height='40'>](https://twitter.com/Anasaboreeda)

### Weather where I live

<img src="http://openweathermap.org/img/wn/{{city_weather_icon}}@2x.png" alt="drawing" style="width:50px;"/>
Currently, the weather in <b>Amsterdam</b> is: <b><i>{{city_weather}}</i></b> with temp: <b>{{city_temperature}}°C</b>, and it feels like: <b> {{feels_like}}°C </b> with humidity: <b>{{humidity}}% </b>
</br>Today, Temprature is <b>{{temp_min}}°C - {{temp_max}}°C </b> and the sun rises at <b>{{sun_rise}}</b> and sets at <b>{{sun_set}}</b>

